body { 
  font-family: "Kalnia", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to bottom right,#4a4e69 ,#9a8c98);
  
} 

.logo {
  color: #fff;
  font-size: 24px;
}

.createaccount{
  font-size: 40px;
  color: #fdbf50;
}

.login-container {
  background-color: #2a2c41;
  /* background-color: #000; */
color: #fff;
opacity: .90;

  font-family: "Kalnia", serif;
  padding: 40px;
   border: 2px solid #2a2c41; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  
}
.ab{
  text-align: left;
  color: #fdbf50;
}
.login-container h2 {
  margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"]{

  font-family: "Kalnia", serif;
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: "Kalina", serif;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

min-width: 300px;
min-height: 60px;
font-family: 'Nunito', sans-serif;
font-size: 22px;
text-transform: uppercase;
letter-spacing: 1.3px;
font-weight: 700;
color: #313133;
background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
border: none;
border-radius: 1000px;
box-shadow: 12px 12px 24px rgba(79,209,197,.64);
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
outline: none;
position: relative;
padding: 10px;
}

.button {
  font-family: "Kalina", serif;
  background-color: #fdbf50;
  color: #2a2c41;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
button::before {
  font-family: "Kalina", serif;
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
/* .button:hover {
  transform: scale(1.1);
  font-family: "Kalnia", serif;
  background-color: #f2ecea;
   text-shadow: 2px 2px rgb(38, 37, 37); 
   border-radius: 100px; 
} */
.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* animation: ring 1.5s ; */
}
button:hover::after, button:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.options{
  align-items: center;
  align-content: center;
}
.options a {
  
  align-content: center;
  font-family: "Kalnia", serif;
  margin-right: 15px;
  text-decoration: underline;
  color: #fdbf50;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.options a:hover {
  font-size: 15px;
  font-family: "Kalnia", serif;
  text-decoration: underline;
  /* color: rgb(250, 140, 50); */
  transform: translateX(-10px);
  /* font-size: 20px; */
}
body{
  background-image: url('l3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(20px);
}